<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maciej Kuczynski" />
    <title>PyCharts</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <header>
      <div id="header_body">
      <h1>Welcome to PyCharts, {{ user_info['display_name'] }}!</h1>
      </div>
    </header>

    <section>
      <div id="login_options">
        <p>Login successful!</p>
        <form action="{{ url_for('logout') }}" method="GET">
          <button type="submit" id="nice-button">Log out</button>
        </form>
        <br>
        <form action="{{ url_for('shareFeedback') }}" method="GET">
          <button type="submit" id="nice-button">Share feedback</button>
        </form>
      </div>

      <br />
      <br />
      <div id="user">
        <p>User options:</p>
        <form action="{{ url_for('browseDataset') }}" method="GET">
          <button type="submit" id="nice-button">Browse the dataset</button>
        </form>
<br>
        <form action="{{ url_for('browseRecommendations') }}" method="GET">
          <button type="submit" id="nice-button">Browse your AI recommendations history</button>
        </form>
<br>
        <form action="{{ url_for('userPlayback') }}" method="GET">
          <button type="submit" id="nice-button">Your last playback</button>
        </form>
<br>
        <form action="{{ url_for('userFavorites') }}" method="GET">
          <button type="submit" id="nice-button">Your favourites from the last 30 days</button>
        </form>
<br>
        <form action="{{ url_for('userStatistics') }}" method="GET">
          <button type="submit" id="nice-button">See your numerical statistics</button>
        </form>
<br>
        <form action="{{ url_for('aiGenerateOptions') }}" method="GET">
          <button type="submit" id="nice-button">
            Generate your own recommendation WITH AI
          </button>
        </form>
<br>
        <form action="{{ url_for('noAiGenerateOptions') }}" method="GET">
          <button type="submit" id="nice-button">
            Generate your own recommendation WITHOUT AI
          </button>
        </form>
      <br />
      <br />
      <div id="admin">
        <p>Admin options:</p>
        <form action="{{ url_for('embeddings') }}" method="GET">
          <button type="submit" id="nice-button">
            Train the embeddings for albums and artists
          </button>
        </form>
<br>
        <form action="{{ url_for('dataset') }}" method="GET">
          <button type="submit" id="nice-button">Prepare the dataset</button>
        </form>
<br>
        <form action="{{ url_for('moodTraining') }}" method="GET">
          <button type="submit" id="nice-button">Train the numerical set of values</button>
        </form>
<br>
        <form action="{{ url_for('fullTraining') }}" method="GET">
          <button type="submit" id="nice-button">Train the full neural network</button>
        </form>
<br>
<br>
<br>

      </div>
    </section>

    <footer>
      <p>
        &copy; 2023 by Maciej Kuczynski for Czestochowa University of
        Technology. All rights reserved.
      </p>
    </footer>
  </body>
</html>
