<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maciej Kuczynski" />
    <title>PyCharts</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to PyCharts!</h1>
    </header>

    <section>
      <p>Sit down and have a cup of tea.</p>
      <br />
      <p>I know you better than anyone else.</p>
      <br />
      <p>Just let me read in your mind.</p>
      <br />
      <p>Below, provide me with your login to Spotify:</p>
      <form
        action="{{ url_for('authenticationPage') }}"
        method="GET"
        id="authForm"
      >
        <button type="submit">Login</button>
      </form>
    </section>

    <footer>
      <p>
        &copy; 2023 by Maciej Kuczynski for Czestochowa University of
        Technology. All rights reserved.
      </p>
    </footer>
  </body>
</html>
