<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maciej Kuczynski" />
    <title>PyCharts</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to PyCharts!</h1>
    </header>

    <section>
      <div id="intro">
        <p>Sit down and have a cup of tea.</p>
        <p>I know you better than anyone else.</p>
        <p>Just let me read in your mind.</p>
        <p>Below, provide me with your login to Spotify:</p>
        <br />
        <br />
        <form
          action="{{ url_for('authenticationPage') }}"
          method="GET"
          id="authForm"
        >
          <button type="submit" id="nice-button">Login</button>
        </form>
      </div>
    </section>

    <footer>
      <p>
        &copy; 2023 by Maciej Kuczynski for Czestochowa University of
        Technology. All rights reserved.
      </p>
    </footer>

    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
