<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maciej Kuczynski" />
    <title>PyCharts</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to PyCharts, {{ user_info['display_name'] }}!</h1>
    </header>

    <section>
      <p>Login successful</p>
      <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Log out</button>
      </form>
      <br />
      <form action="{{ url_for('shareFeedback') }}" method="GET">
        <button type="submit">Share feedback</button>
      </form>
      <br />
      <br />
      <p>Choose your option:</p>
      <br />

      <form action="{{ url_for('userPlayback') }}" method="GET">
        <button type="submit">Your last playback</button>
      </form>
      <br />

      <form action="{{ url_for('userFavorites') }}" method="GET">
        <button type="submit">Your favourites from the last 30 days</button>
      </form>
      <br />

      <form action="{{ url_for('userStatistics') }}" method="GET">
        <button type="submit">See your numerical statistics</button>
      </form>
      <br />

      <form action="{{ url_for('aiGenerateOptions') }}" method="GET">
        <button type="submit">Generate your own recommendation WITH AI</button>
      </form>
      <br />

      <form action="{{ url_for('noAiGenerateOptions') }}" method="GET">
        <button type="submit">
          Generate your own recommendation WITHOUT AI
        </button>
      </form>
      <br />
    </section>

    <footer>
      <p>
        &copy; 2023 by Maciej Kuczynski for Czestochowa University of
        Technology. All rights reserved.
      </p>
    </footer>
  </body>
</html>
