<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maciej Kuczynski" />
    <title>PyCharts</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to PyCharts, {{ user_info['display_name'] }}!</h1>
    </header>

    <div id="recent-favourites">
      <h3>Your generated recommendation:</h3>
      <ul id="nice-list">
        {% for index, row in recommendations.iterrows() %}
        <li>
          <div id="index">{{ loop.index }}</div>
          <div id="song-info">
            <p id="title">{{ row['Track'] }}</p>
            <p id="artist">{{ row['Artist'] }}</p>
            <p id="album">{{ row['Album'] }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <br />
    <form action="{{ url_for('uploadToAccount') }}" method="POST">
      <label for="playlist_name">Playlist Name: </label>
      <input type="text" id="playlist_name" name="playlist_name" required />
      <br />
      <br />
      <button type="submit" id="nice-button">
        Upload the playlist to your Spotify account
      </button>
    </form>
    <br />
    <h4>
      Correlation to the non-AI recommendation with the same parameters: {{
      correlation }}. <br />
    </h4>
    <br />
    <br />
    <br />
    <br />
    <footer>
      <p>
        &copy; 2023 by Maciej Kuczynski for Czestochowa University of
        Technology. All rights reserved.
      </p>
    </footer>
  </body>
</html>
