<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maciej Kuczynski" />
    <title>PyCharts</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to PyCharts, {{ user_info['display_name'] }}!</h1>
    </header>

    //dodać parametry nauczania
    <section>
      <p>Click below to train the neural network:</p>
      <form method="GET" action="{{ url_for('startTraining') }}">
        <button type="submit">Start</button>
      </form>
    </section>

    <footer>
      <p>
        &copy; 2023 by Maciej Kuczynski for Czestochowa University of
        Technology. All rights reserved.
      </p>
    </footer>
  </body>
</html>
