/* style.css */

header {
    background-color: #450347;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font: "Gotham-Bold";
}

#header_body {
    background-color: #450347;
        color: #ffffff;
        padding: 10px;
        text-align: left;
        font: "Gotham-Bold";
    }

#intro {
    text-align: center;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 26px;
}

#login_options{
    font-size: 24px;
}

#user {
    font-size: 24px;
}

#admin {
    font-size: 24px;
}

#nice-button {
    display: inline-block;
    padding: 12px 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #450347;
    color: #ffffff;
    border: 2px solid #450347;
    transition: background-color 0.3s, color 0.3s;
}

#nice-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px;
    font-size: 16px;
}

#nice-table th,
#nice-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

#nice-table th {
    background-color: #450347;
    color: #ffffff;
}

#nice-table tbody tr:hover {
    background-color: #450347;
}

#recent-favourites {
    text-align: center;
}

#nice-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#nice-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

#index {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

#song-info {
    flex: 1;
}

#title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

#artist,
#album {
    margin: 5px 0;
}

#nice-list li:hover {
    background-color: #450347;
}

#nice-stats {
            list-style: none;
            align-items: center;
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            text-align: center;
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            font-size: 32px;
}

#nice-stats li:hover {
    background-color: #450347;
}

body {
    text-align: center;
    font-family: "Franklin Gothic", sans-serif;
    background-color: #a42ca8;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 24px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    /* Background color of the slider track */
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-top: 5px;
}

input[type="range"]:hover {
    opacity: 1;
}

/* Style for the slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #450347;
    /* Color of the slider thumb */
    cursor: pointer;
    transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #450347;
    /* Color of the slider thumb on hover */
}

section {
    padding: 80px;
}

footer {
    margin-top: auto;
    background-color: #450347;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}